@import "base";

html, input, select, option {
  font-family: "Lucida Grande", Tahoma, Verdana, Arial;
  font-size: 12px;
}

body {
  min-width: $body-min-width;
  background-color: $background-color;
  padding: 77px 20px 20px 20px;
}

a {
  color: $link-color;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,.7);
  cursor: pointer;
}

textarea, input {
  outline: 0;
}

.fluid-box-wrapper {
  position: relative;
}
.red {
  background-color: red;
  color: blue;
}

@import "partials/taskbar";
@import "partials/sidebar";

@import "components/backgrounds";
@import "components/panels";
@import "components/overlay";
@import "components/buttons";
@import "components/navigation";
@import "components/breadcrumb";
@import "components/notifications";
@import "components/progress";
@import "components/dropdown";
@import "components/checkbox";
@import "components/pagination";
@import "components/boxes";
@import "components/modal";
@import "components/css-properties";
@import "components/tables";
@import "components/html";
@import "components/image-icon";
@import "components/images";
@import "components/indication";
@import "components/performace";
@import "components/notebook";

@import "pages/library";
@import "pages/exam";
@import "pages/wizard";
