// Configuration
$body-min-width: 960px;

// Colors
$background-color: #f7f7f9;
$header-blue: #2E5156;
$header-blue-border-bottom: #274549;
$header-blue-li-active: #1D3336;
$white: #fff;
$header-page-border-bottom: #CDCDCD;
$header-page-background: #EEEEEE;