//bg img
$background-noise-light: image-url("backgrounds/noise-light.png");
$background-noise-mid: image-url("backgrounds/noise-mid.png");
$background-noise-dark: image-url("backgrounds/noise-dark.png");
$background-mock-hover: image-url("backgrounds/mock-hover.png");

.no-repeat {
  background-repeat: no-repeat;
}


//bg color
$bg-white: #FFFFFF !important;
$bg-light-gray: #F7F7F9 !important;
$bg-light-cont: #FAFAFB !important;

.bg-noise-light {
  background: $background-noise-light repeat;
}

.bg-noise-mid {
  background: $background-noise-mid repeat;
}

.bg-noise-dark {
  background: $background-noise-dark repeat;
}

.bg-mid-gray {
  background-color: #ECECEC;
}

.bg-mock-hover {
  background: $background-mock-hover repeat;
}

//bg color
.bg-white {
  background-color: $bg-white;
}

.bg-light-cont {
  background-color: $bg-light-cont;
}

.bg-light-gray {
  background-color: $bg-light-gray;
}

.no-bg {
  background: none repeat scroll 0 0 transparent !important;
}