//positions

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

////////////////////////////////////////////////////////////////////////////////

//font properties

.normal {
  font-style: normal;
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.align-left {
  text-align: left;
}

.align-center {
    text-align: center !important;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
  font-style: normal;
  font-weight: normal;
}

.align-center {
  text-align: center !important;
}

.align-right {
  text-align: right;
}

////////////////////////////////////////////////////////////////////////////////

//displays

.display-block{
  display: block;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.display-inline-table {
  display: inline-table;
}

.display-list-item {
  display: list-item;
}

.display-none {
  display: none;
}

.display-table {
  display: table;
}

////////////////////////////////////////////////////////////////////////////////

//h1
.small-h1 {
  font-size: 14px;
  font-weight: bold;
  color: $gray-dark;
  display: inline;
}

.mid-h1{
  font-size: 18px;
}

.h2 {
  font-size: 13px;
  font-weight: bold;
  color: $gray-font-mid;
  display: inline;
}

////////////////////////////////////////////////////////////////////////////////

// no padding

.no-padding {
    padding: 0 !important;
}

// center with margin
.margin-center {
  margin: 0 auto;
}

//borders
.no-border {
  border: none;
}

//font sizes
.mid-size {
  font-size: 13px;
}

//vertical align
.va-top {
  vertical-align: top;
}

.va-baseline {
  vertical-align: baseline;
}

.va-bottom {
  vertical-align: bottom;
}

.va-inherit {
  vertical-align: inherit;
}

.va-initial {
  vertical-align: initial;
}

.va-middle {
  vertical-align: middle;
}

.icon-va-sub {
  vertical-align: sub;
}

.va-super {
  vertical-align: super;
}

.va-text-bottom {
  vertical-align: text-bottom;
}

.va-text-top {
  vertical-align: text-top;
}
