.panel {
  border-radius: 3px;
  border: 1px solid $border-color;
  position: relative;
}

.panel-heading {
  height: $heading-height;
  line-height: $heading-height;
  padding: 0 8px 0 5px;
  position: relative;
  border-bottom: 1px solid #E1E1E1;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(#fff, .7);
  background: linear-gradient(top, #f5f5f7, #eeeef2);
  border-radius: 3px 3px 0 0;
  @include background-image(linear-gradient(white, #F5F5F7, #EEEEF2));
  @include box-shadow(inset 0 -1px 0 rgba(#e5e5eb, .8), inset 0 1px 0 rgba(#fff, .6));
  @include clearfix;
}

.panel-heading-actions {
  color: $gray-font;
  font-size: 13px;
  font-weight: normal;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  border-top-right-radius: 3px;
  float: right;
  line-height: inherit;
  vertical-align: middle;

  & > .btn {
    border-radius: 0;
  }
}

.panel-resize {
  position: absolute;
  right: 20px;
  left: 20px;
  top: 71px;
  bottom: 23px;
  overflow: hidden;
  min-height: 432px;
  min-width: 994px;
}

.saved-message {
  margin-right: 9px;
}

.panel-content {
  @include clearfix;
  position: relative;
}

.panel-light-gray {
  color: $gray-font-mid;
  font-weight: bold;
  background-color: $background-color;
  border-color: $light-panel;
  border-style: solid;;
  border-width: 1px 0;
  line-height: 42px;
  height: 44px;
  padding-right: 10px;
  @include box-shadow(0 1px #fff inset);
  @include clearfix;
}

.pannel-title {
  font-size: 13px;
  font-weight: bold;
  color: $gray-font-mid;
  display: inline;
  margin: 0 10px 0 16px;
}

.panel-footer {
  @include clearfix;
  background-color: #fff;
  border-top: 1px solid $border-color;
  font-size: 14px;
  font-weight: bold;
  line-height: 47px;
  padding: 0 11px 0 18px;
  @include border-radius(0 0 3px 3px);
}